<article class="post">
  <div class="title">
    <a href="{{restaurant_url}}" target="_blank" class="underline font-bold">{{restaurant_name}}</a>
    <span class="italic">{{comment_text}}</span>
    {{!-- <img src="{{photo}}" alt="uploaded image from restaurant"> --}}
  </div>
  <div class="meta">
  </div>
</article>
