<article class="post">
  <img src="" alt="" class="post-img">
  <div class="card_details">
    <a href="{{restaurant_url}}" class="name">{{restaurant_name}}</a>
    <p>{{comment_text}}</p>
  </div>
  <div class="meta">
  </div>
</article>