<article class="post">
  <img src="" alt="" class="post-img">
  <div class="card_details">
    <a href="{{restaurant_url}}" target="_blank" class="name">{{restaurant_name}}</a>
    <p class="font-italic">{{comment_text}}</p>
  </div>
  <div class="meta">
  </div>
</article>
