<article class="post">
  <div class="title">
    <a href="{{restaurant_url}}" target="_blank">{{restaurant_name}}</a>
    <span>{{comment_text}}</span>
    {{!-- <img src="{{photo}}" alt="uploaded image from restaurant"> --}}
  </div>
  <div class="meta">
  </div>
</article>