<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Junkies</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div>
    <header>
      <h1 class="justify-center font-bold text-red-800">FOOD JUNKIES</h1>
      <div>
        <img class="flex justify-around" src="/images/logo.jpg" alt="food junkies logo image" />
      </div>
      {{#if loggedIn}}
      <h2 class="justify-center italic">Hope you've got something delicious!</h2>
      {{else}}
      <h2 class="justify-center italic">Log in or Sign Up to see exciting restaurants waiting to be discovered</h2>
      {{/if}}
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">New Post</a>
        <a href="/">Homepage</a>
        <button id="logout" class="">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
        Created by the Food Junkies!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>
