{{#if loggedIn}}

<head>
  <link rel="stylesheet" type="text/css text/html" href="dist/output.css">
</head>

<ol class="post-list underline">
    {{#each posts as |post|}}
    <li>
        {{> post-info post}}
    </li>
    {{/each}}
</ol>
{{/if}}

<script src="https://cdn.tailwindcss.com"></script>