<section>
    <h3>Recommend a restaurant that you've loved:</h3>

    <form class="new-post-form mt-2">
        <div class="mt-1 mb-1">
            <label class="label-text font-weight-bold" for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title"/>
        </div>
        <div class="mt-1 mb-1">
            <label class="label-text font-weight-bold" for="post-url">Link</label>
            <input id="post-url" name="post-url"/>
        </div>
        <button type="submit" class="btn btn-dark mt-3">Submit Your Post</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>

