{{#if loggedIn}}
<div>
    <label for="city-name">City Name</label>
    <select name="city-name" id="city-name">
        <option value="dallas">Dallas</option>
        <option value="austin">Austin</option>
        <option value="houston">Houston</option>
    </select>
</div>
<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post}}
    </li>
    {{/each}}
</ol>
{{/if}}