<form class="login form-card mt-5 mb-5">
  <div class="mt-1 mb-1">
    <label class="label-text font-weight-bold" for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div class="mt-1 mb-1">
    <label class="label-text font-weight-bold" for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="greenbtn btn-dark">Log In</button>
    <div class="redirect">Don't have an account? <a href="/signup"> Sign Up</a></div>
  </div>
</form>

<script src="/javascript/login.js"></script>