<form class="signup form-card mt-5">
  <div class="mt-1 mb-1">
    <label class="label-text font-weight-bold" for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="mt-1 mb-1">
    <label class="label-text font-weight-bold" for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div class="mt-1 mb-1">
    <label class="label-text font-weight-bold" for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="greenbtn btn-dark">Sign Up</button>
  </div>
  <div class="redirect">Already have an account? <a href="/login"> Log In</a></div>
</form>

<script src="/javascript/signup.js"></script>