.logo {
    max-width: 350px;
    max-height: auto
}

.title-text {
    font-size: 100px;
    color: rgb(146, 8, 6)
}

footer {
    background: rgb(146, 8, 6);
    border-radius: 7px;
    margin: 25px 0 auto 0;
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    height: max-content
}

.footer-text {
    font-size: 22px;
    color: white
}

.label-text {
    color: rgb(146, 8, 6)
}


/* Links inside the navbar */
.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
}

/* red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* button styling */
.btn {
  text-align: center;
  padding: 14px 16px;
}

/* red background color to btns on hover */
.btn:hover {
  background-color: red;
}

/* styling for dropdown content */
.dropdown-content {
  display: none;
  position: center;
  background-color: #f9f9f9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
}

/* styling for links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* light grey background on dropdown links during hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* displays the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

body {
 
  background-color: lightgrey;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

div {
  background-color: white;
}

.card {
  /* Change background color */
  background-color: white;

  /* Add border */
  border: 1px solid lightgrey;

  /* Add space between the border and the content */
  padding: 8px 8px;

  border-radius: 12px;

  margin-top: 50px;
}

.post-container {
  max-width: 600px;
  margin: 0 auto;
}

.post-img {
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
}

/* Style div elements that have class equal to name */
.name {
  font-size: 24px;
  font-weight: 600;

  margin-top: 16px;
}

/* Style p element */
p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

