.logo {
    max-width: 350px;
    max-height: auto
}

.title-text {
    font-size: 100px;
    color: rgb(146, 8, 6)
}

footer {
    background: rgb(146, 8, 6);
    border-radius: 7px;
    margin: 25px 0 auto 0;
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    height: max-content
}

.footer-text {
    font-size: 22px;
    color: white
}

.label-text {
    color: rgb(146, 8, 6)
}